:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 10px;
  font-weight: 400;
}

body {
  margin: 0;
}

#main-container {
  display: flex;
}

.product--container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background: #000000;
  background: linear-gradient(
    0deg,
    rgb(10, 10, 10) 0%,
    rgba(0, 0, 0, 0.366) 76%,
    rgba(0, 212, 255, 0) 100%
  );
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
}

.product__slide {
  scroll-snap-align: start;
}

.product__thumbnail {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.product__information {
  position: absolute;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  bottom: 20%;
  margin: 0 30px;
  padding: 0 8px;
}

.product__information__text {
  flex-direction: column;
}

.product__information__text {
  h1{
    font-size: 52px;
  }
  h2 {
    font-size: 45px;
  }
  h3{
    font-size: 30px;
  }
  p {
    font-size: 26px;
    line-height: initial;
  }
}

.contact-buttons {
  display: flex;
}

#button-blue, #button-transaprent {
  margin-right:10px;
}
#button-blue{
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #0158CC;
  color: white;
  border: 0;
  border-radius: 0.375rem;  
  padding: 0.7rem;
  font-size: 1.1rem;
}

#button-blue:hover {
  background-color: #044293;
}

#button-transparent {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 0.2rem solid white;
  border-radius: 0.375rem;  
  padding: 0.5rem;
  font-size: 1.1rem;
}

#button-transparent:hover {
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
}

.navigations--container {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  margin: 8px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: -webkit-fill-available;
}

.lines {
  display: flex;
  align-items: center;
}

#nextButton,
#prevButton {
  cursor: pointer;
  border: none;
  background: transparent;
  color: rgb(175, 175, 175);
  font-size: 28px;
  margin: 12px;
}

#nextButton:hover,
#prevButton:hover {
  transition: color 0.5s ease;
  color: white;
}

.span__lines {
  cursor: pointer;
  display: inline-block;
  background-color: rgb(146, 146, 146);
  width: 130px;
  height: 3px;
  border-radius: 2px;
  margin: 5px;
  margin: 0 10px;
  transition: background-color 0.5s ease;
}

.span--active,
span:hover {
  background-color: white;
}

@media only screen and (max-width: 760px) {
  .buttons {
    display: none;
  }

  .lines {
    margin-bottom: inherit;
  }

  .span__lines {
    width: 74px;
    height: 5px;
    margin: 0 6px;
  }

  .product__thumbnail {
    object-fit: cover;
  }
  .product__information{
    margin: 0;
    line-height: 8px;
  }

  .product__information__text {
    h1 {
      font-size: 48px;
    }
  }
}
