body {
  margin: 0;
}

#main-container {
  display: flex;
  overflow: auto;
}

.product--container {
  width: 100%;
  min-width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background: rgb(0, 0, 0);
} 

.product__thumbnail {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
